body {
    padding-top: 48px;
    padding-bottom: 10px;
    font-size: 12px;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
}

body.body_serie_sort, body.body_web_sort, body.body_serie_label, body.body_bild_show, body.body_bild_import {
    padding-top: 0;
    padding-bottom: 0;
}

body.control {
    padding-top: 0;
    padding-bottom: 10px;
    margin: 10px;
    font-size: 13px;
}

a {
    color: #2a8af2;
}

.bgcolor_lightyellow {
    background-color: lightyellow;
}

.color_red {
    color: red;
}

.color_green {
    color: green;
}

div.control_left {
    position: fixed;
    left: 0;
    width: 230px;
    top: 0;
    height: 100%;
    padding: 10px;
    z-index: 1030;
    background: #cccccc;
}

dl.control_left_menu {
    margin-top: 0px;
}

dt.control_left_menu {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

dd.control_left_menu {
    display: none;
    margin-bottom: 15px;
}

.control_left_menu_admin {
    margin-top: 8px;
}

.menu_closed {
    font-variant: normal;
}

.menu_open {
    font-variant: small-caps;
}

.menu_initial_open {
    display: block;
    margin-bottom: 15px;
}

div.control_album {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.control_cover {
    max-width: 160px;
    min-height: 160px;
    border: 0;
    margin-bottom: 10px;
}

div.control_series {
    max-width: 160px;
    border: 0;
    margin-bottom: 10px;
}

div.control_left_info {
    margin-top: 15px;
    font-size: 11px;
}

div.control_left_pictures {
    margin-top: 15px;
    font-size: 11px;
    display: none;
}

div.control_left_video {
    margin-top: 25px;
    font-size: 13px;
    display: none;
}

div.control_left_feedback {
    margin-top: 25px;
}

div.control_picture {
    max-width: 160px;
    height: auto;
    border: 0;
    margin-bottom: 10px;
}

img.control_cover {
    max-width: 160px;
    height: auto;
}

img.control_picture {
    max-width: 160px;
    height: auto;
}

div.control_lists {
    padding-left: 250px;
    padding-top: 30px;
}

#control_tab_albums {
    display: none;
}

#control_tab_tracks {
    display: none;
}

#control_tab_playlists {
    display: none;
}

#control_tab_pictures {
    display: none;
}

#control_tab_videos {
    display: none;
}

#control_tab_analytics {
    display: none;
}

#control_tab_admin {
    display: none;
}

div.control_room {
    margin-bottom: 15px;
}

div.control_music, div.control_artist, div.control_person, div.control_year_from, div.control_year_to,
div.control_country, div.control_location, div.control_year {
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
}

div.control_search {
    margin-bottom: 10px;
}

div.control_no_compilations, div.control_search {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

label.no_compilations {
    font-weight: normal;
    margin-left: 10px;
    margin-bottom: -4px;
}

div.control_admin_info_iobroker {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: bolder;
}

p.control_playbuttons {
    clear: both;
}

.control_led {
    border-radius: 50%;
    box-shadow: #555d0d 0 0 1px 1px, #446f44 0 0 0, inset #e44949 0 0 0;
    height: .9em;
    width: .9em;
    float: left;
    margin-right: 20px;
}

.control_led_green {
    background-color: #86d686;
}

.control_led_red {
    background-color: #f53117;
}

.legend {
    display: block;
    -webkit-padding-start: 2px;
    -webkit-padding-end: 2px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.legendLayer .background {
    fill: rgba(255, 255, 255, 0.85);
    stroke: rgba(0, 0, 0, 0.85);
    stroke-width: 1;
}

#tooltip {
    position: absolute;
    display: none;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    opacity: 0.80
}

.artist_search, .serie_search, .video_search, .track_search, .ofapics {
    width: 100%;
    max-width: 500px;
    margin-bottom: 10px;
}

div.media_playlist, div.media_show {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
}

.media_playlist_caption {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: bold;
}

p.media_album_firstletter, p.media_album_originalyear, p.media_track_firstletter {
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 16px;
}

p.media_album_artist {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 15px;
}

p.media_video_artist {
    margin-top: 16px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
}

.media_video_captionsub1 {
    margin-top: 6px;
}

.media_album, .media_track, .media_serien_serie, .media_video, .media_serien_highlight {
    margin-top: 4px;
    margin-bottom: 1px;
    font-size: 14px;
    padding: 1px;
}

.media_video_caption {
    margin-top: 15px;
    margin-bottom: 2px;
    font-size: 25px;
    font-weight: bold;
}

.media_video_subcaption {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.title_sort {
    font-size: 22px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 20px;
}

#alben_sort_artist {
    display: block;
}

#alben_sort_year {
    display: none;
}

.alben_sort_artist_intro_firstletters, .alben_sort_year_intro_originalyears, .tracks_sort_track_intro_firstletters {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 14px;
}

.media_album_tracks, .media_video_infos {
    margin-left: 10px;
    margin-top: 5px;
}

.media_album_track, .media_video_info {
    margin-top: 8px;
    margin-bottom: 8px;
}

p.control_admin {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

.media_serien {
    display: none;
}

hr.analytics {
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 0;
    border-top: 1px solid #a0a0a0;
    width: 1050px;
}

.analytics_overview, .analytics_auswahl {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.control_admin_overview {
    float: left;
    margin-right: 25px;
    font-size: 16px;
    font-weight: bold;
}

.control_admin_overview_days {
    font-size: 14px;
    width: 100px;
}

.overview_data, .auswahl_data {
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: bold;
}

.overview_data_web, .web_data_web, .ortemotive_data_ortemotive {
    display: inline-block;
    width: 500px;
    padding-right: 20px;
}

.overview_data_path, .web_data_path, .ortemotive_data_url {
    display: inline-block;
    width: 500px;
    padding-right: 20px;
}

.auswahl_data_land {
    display: inline-block;
    width: 1000px;
    padding-right: 20px;
}

.overview_data_pageview, .web_data_pageview, .auswahl_data_pageview, .ortemotive_data_pageview {
    display: inline-block;
    width: 50px;
    text-align: right;
}

.overview_web {
    display: none;
    margin-bottom: 8px;
}

.web_data {
    margin-bottom: 3px;
}

a.red {
    color: #dc4f36;
    text-decoration: none;
}

a.red:link {
    color: #dc4f36;
    text-decoration: none;
}

a.red:visited {
    color: #dc4f36;
    text-decoration: none;
}

a.red:active {
    color: #dc4f36;
    text-decoration: none;
}

a.red:hover {
    color: #dc4f36;
    text-decoration: underline;
}

a.dimgray {
    color: dimgray;
    text-decoration: none;
}

a.dimgray:link {
    color: dimgray;
    text-decoration: none;
}

a.dimgray:visited {
    color: dimgray;
    text-decoration: none;
}

a.dimgray:active {
    color: dimgray;
    text-decoration: none;
}

a.dimgray:hover {
    color: dimgray;
    text-decoration: underline;
}

.ui-icon-red {
	background-image: url("images/ui-icons_cc0000_256x240.png");
}

.ui-icon-blue {
	background-image: url("images/ui-icons_228ef1_256x240.png");
}

.ui-icon-gray {
	background-image: url("images/ui-icons_555555_256x240.png");
}

.ui-autocomplete
{
     max-height: 150px;
     overflow-y: auto;
     overflow-x: hidden;
}

.jspContainer {
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

h3, .h3 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

h4 {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 6px;
    margin-top: 5px;
    margin-left: -30px;
    padding: 30px;
    background-color: #dddddd;
}

h5 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 30px;
}

h5.control {
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
}

hr.control {
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #333333;
}

h6 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
}

h6.control {
    font-size: 22px;
    font-weight: bold;
    margin-top: 24px;
}

.navbar {
    min-height: 0;
}

.navbar-control {
    margin-left: 180px;
}

.navbar-brand
{
    float: left;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
}

.navbar-nav > li > a
{
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-nav > li > a
{
    line-height: 16px;
}

p
{
    margin: 0 0 3px;
}

p.selectform
{
    margin-bottom: 4px;
}

p.dialoglabel
{
    margin-top: 7px;
    margin-bottom: 3px;
}

p.delete
{
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

img.mini
{
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 200px;
    max-height: 200px;
    height: auto;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td
{
    line-height: 1.1;
    padding: 4px;
}

td.volumes {
    text-align: right;
    width: 90px;
}

td.coords,th.coords {
    text-align: right;
    width: 70px;
}

td.shortnumber, th.shortnumber {
    text-align: right;
    width: 30px;
}

td.number, th.number {
    text-align: right;
    width: 70px;
}

td.secondline {
    border-top: 0px;
    padding-top: 0px;
}

td.datum {
    white-space: nowrap;
}

td.editing {
    white-space: nowrap;
    text-align: right;
}

input.number {
    width: 100px;
}

input.langtext {
    width: 600px;
}

input.text,textarea.textarea {
    width: 600px;
}

input.beschreibung {
    width: 600px;
}

textarea.bemerkung {
    width: 600px;
    height: 50px;
}

.mittel {
    width: 150px;
}

.laenger {
    width: 250px;
}

.lang {
    width: 100%;
}

textarea.zusatz
{
    width: 950px;
    height: 300px;
}

label {
    margin-bottom: 3px;
}

label.motiv {
    margin-bottom: 0px;
    margin-left: 10px;
    line-height: 0.9;
}

.container {
    margin-left: 50px;
    margin-right: 50px;
    max-width: 100%;
}

.leftside {
    margin-right: 340px;
}

.leftside_serie, .leftside_motiv, .leftside_ort {
    margin-right: 640px;
}

.leftside_web {
    margin-right: 840px;
}

.leftside_album_liste {
    display: block;
}

.leftside_album_liste_artists {
    float: left;
    float: left;
    border-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

li.artist_liste, li.album_liste, li.track_liste, li.play_liste {
    list-style-type: none;
    margin: 0 1px 1px 1px;
    padding: 0.4em;
    padding-left: 10px;
    width: 250px;
    font-weight: normal;
    cursor: default;
}

.leftside_album_liste_albums {
    float: left;
    position: fixed;
    top: 48px;
    left: 350px;
    width: 290px;
    height: 100%;
}

.leftside_album_liste_tracks {
    float: left;
    position: fixed;
    top: 48px;
    left: 680px;
    width: 290px;
    height: 100%;
}

.leftside_album_liste_play {
    float: left;
    position: fixed;
    top: 48px;
    left: 1010px;
    width: 290px;
    height: 100%;
}

#playliste_links {
    margin-top: 10px;
    width: 280px;
}

#playlist_list {
    width: 100%;
}

#playlist_save_popup {
    display: none;
    position: fixed;
    top: 300px;
    left: 1010px;
    width: 280px;
    z-index: 299;
    background-color: #f9f9f9;
    border-style: solid;
    border-width: 3px;
    border-color: #999999;
    padding: 10px;
    text-align: center;
}

#playlist_save_popup_table {
    margin: auto;
    max-width: 300px;
}

#playlist_save_input {
    width: 200px;
}

.popup_button {
    margin-top: 10px;
}

.rightside
{
    position: fixed;
    top: 48px;
    right: 50px;
    width: 300px;
}

.rightside_serie, .rightside_motiv, .rightside_ort {
    position: fixed;
    right: 50px;
    top: 48px;
    width: 600px;
    bottom: 20px;
}

.rightside_web {
    position: fixed;
    right: 50px;
    top: 48px;
    width: 800px;
    bottom: 20px;
}

.rightside_information {
    margin-top: 5px;
}

.motivliste, .serieliste {
    margin-top: 5px;
}

.leftside_bildmotive
{
    float: left;
    width: 500px;
}

.rightside_bildmotive
{
    float: left;
    width: 400px;
}

.rightside_top {
    width: 100%;
}

.rightside_mblink, .rightside_genres {
    margin-top: 8px;
}

.rightside_bottom {
    position: fixed;
    bottom: 20px;
    width: 300px;
}

.serie_sort, .web_sort, .serie_label, .bild_show, .bild_import
{
    display: none;
    width: 100%;
    height: 500px;
}

.frame_sort, .frame_web, .frame_label, .frame_bild_show, .frame_bild_import
{
    width: 100%;
    height: 100%;
    border: 0;
}

.scroll-pane {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.serie_bilder {
    width: 250px;
}

#bilderliste {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#bilderliste li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 10px;
    width: 220px;
    font-weight: normal;
}

#bildergrid, #bildimportgrid, #albumgrid {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#bildergrid li, #albumgrid li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 10px;
    float: left;
    width: 220px;
    height: 265px;
    font-weight: normal;
}

#albumgrid li {
    height: 295px;
}

.albumgrid_genres {
    font-size: smaller;
}

.albumgrid_genres, .albumgrid_styles {
    margin-top: 1px;
    font-size: smaller;
}

.bildergrid, .albumgrid {
    position:   relative;
    height:     100%;
    width:      100%;
}

.bildergrid_wertung, .albumgrid_select {
    position:   absolute;
    bottom:     0;
    left:       0;
 }

#bildergrid_select {
    font-weight: bold;
    margin-bottom: 15px;
}

#bildergrid_select_kamera {
    margin-left: 5px;
    margin-top: 10px;
 }
 
#bildergrid_select_objektiv {
    margin-left: 5px;
    margin-top: 10px;
}

 .albumgrid_top {
    height:     27px;
    max-height: 27px;
 }

 .albumgrid_bottom {
    clear:      both;
    margin-bottom: 10px;
 }

 .media_album_track_more {
     margin-top: 10px;
     margin-bottom: 10px;
 }

 .media_album_track_info {
    margin-top: 10px;
    display: none;
}

.media_album_track_more_genres {
    margin-top: 5px;
}

.media_album_track_more_styles {
    margin-top: 5px;
}

.media_album_track_more_extraartists {
    margin-top: 10px;
    line-height: 1.4;
}

.media_album_track_more_videos {
    margin-top: 10px;
    line-height: 1.4;
}

a.bildergrid {
    color: #2a8af2;
 }

#bildimportgrid li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 10px;
    float: left;
    width: 230px;
    height: 265px;
    font-weight: normal;
}

.bildlabel {
    padding: 5pt;
}

#bildertable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

div.labeltable {
    float: left;
    width: 20%;
}

div.bildertable {
    float: right;
    width: 80%;
    padding-left: 20px;
}

li.bildertable_element {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 10px;
    float: left;
    width: 99%;
    font-weight: normal;
    border: 1px solid #cccccc;
    background: #f6f6f6;
}

.bildertable_bild {
    float: left;
}

.bildertable_label {
    margin: 5px;
    padding-left: 210px;
}

.bildertable_nummer {
    margin-bottom: 5px;
}

.web_serien {
    width: 480px;
}

#serienliste {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#serienliste li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    width: 460px;
    font-size: 11px;
    font-weight: normal;
}

#serienliste li span {
    position: absolute;
    margin-left: -1.3em;
}

#seriengrid {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

#seriengrid li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 10px;
    float: left;
    width: 300px;
    height: 50px;
    font-weight: normal;
}

.serie_log {
    width: 100%;
    height: 100%
}

.control-group {
    margin-bottom: 10px;
}

.control-group-motivliste {
    margin-bottom: -8px;
}

.control-group-submit {
    margin-top: 15px;
}

.control-label-motivliste {
    margin-left: 10px;
    margin-bottom: 3px;
}

#submitbutton,#submitbutton1,#submitbutton2,#submitbutton3 {
    width: 120px;
    height: 30px;
}

#aktualisieren {
    width: 150px;
    height: 30px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.yesno {
    width: 80px;
    height: 30px;
}

hr.selectform
{
    margin-top: 5px;
    margin-bottom: 5px;
}

#map {
    border: 2px solid #cd1f28;
    -webkit-box-shadow: 0px 0px 8px #000;
    -moz-box-shadow: 0px 0px 8px #000;
    box-shadow: 0px 0px 8px #000;
    margin-top: 25px
}

#mapBox {
    width: 600px;
    height: 510px;
    background: url(images/back.jpg);
    text-align: center;
}

#mapBox a {
    color: #fff
}

#mapPic {
    border: 2px solid #cd1f28
}

#mapPic:hover {
    border: 2px solid #000;
    -webkit-box-shadow: 0px 0px 8px #000;
    -moz-box-shadow: 0px 0px 8px #000;
    box-shadow: 0px 0px 8px #000;
}

ul {
    border: 0;
    margin: 0;
    padding: 0;
}

.paginator {
    margin: 0 auto;
    width: 480px;
}

#pagination-flickr li {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 11px;
    list-style: none;
}

#pagination-flickr a {
    border: solid 1px #DDDDDD;
    margin-right: 2px;
}

#pagination-flickr .previous-off,#pagination-flickr .next-off,.disabled {
    color: #666666;
    display: block;
    float: left;
    font-weight: bold;
    padding: 3px 4px;
}

#pagination-flickr .next a,#pagination-flickr .previous a {
    font-weight: bold;
    border: solid 1px #FFFFFF;
}

#pagination-flickr .active {
    color: #ff0084;
    font-weight: bold;
    display: block;
    float: left;
    padding: 0px 8px;
}

#pagination-flickr a:link,#pagination-flickr a:visited {
    color: #0063e3;
    display: block;
    float: left;
    padding: 3px 6px;
    text-decoration: none;
}

#pagination-flickr a:hover {
    border: solid 1px #666666;
}

@media (max-width: 1150px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
  }
